# Core Deep Learning & Optimization
torch==2.8.0
torchvision==0.23.0
numpy==2.0.2
pillow==11.3.0
matplotlib==3.9.4
tqdm==4.67.1

# Vision & Diffusion Models
open_clip_torch==3.3.0
diffusers==0.35.2
# transformers==5.14.1
git+https://github.com/openai/CLIP.git
lpips==0.1.4
pytorch-msssim==1.0.0
huggingface_hub==1.8.0

# Scene & Image Formats
OpenEXR==3.4.13

# Optional / Interactive Workflows
Flask==3.1.0
ipykernel==6.31.0
