huggingface_hub==1.8.0

matplotlib==3.9.4
tqdm==4.67.1

torch==2.8.0
torchvision==0.23.0
numpy==2.0.2

open_clip_torch==3.3.0
git+https://github.com/openai/CLIP.git
lpips==0.1.4
pytorch-msssim==1.0.0

OpenEXR==3.4.13
pillow==11.3.0

# For gallery web server:
Flask==3.1.0

# For Jupyter notebooks:
ipykernel==6.31.0
ipywidgets==8.1.9


# Uncomment these for flux_relight_example.ipynb:
# transformers==5.14.1
# peft==0.20.0
# diffusers==0.35.2
